/* zadanie pierwsze */


.outer {
    height: 200px;
    width: 200px;
    background-color: orange;
    position: static;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: pink;
    position: relative;
    display: inline-block;
    margin: 50px;
}

/* zadanie drugie */


.coś {
    display: block;
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    border: solid 5px red;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
}

label.coś i {
    transform: scale(2)
}

input#font {
    display: none;
}

.coś:hover {
    background-color: green;
    cursor: pointer;
    border-color: firebrick;
}

/* zadanie trzecie*/


#gradient {
    display: block;
    height: 210px;
    width: 210px;
    background: linear-gradient(to bottom, purple, blue, lightblue, green, yellow, orange, red);
}

/* zadanie czwarte */


@media all and (max-width: 1600px) {
    .video {
        height: 100%;
        width: 100%;
    }
}

/* zadanie piąte */


ul.lista {
    list-style-type: none;
}

ul.lista li i {
    padding-right: 5px;
}

/* zadanie szóste */


form.form input::placeholder {
    color: crimson;
}

/* zadanie siódme */


ul.linki li a[href$=".doc"] {
    color: bisque;
}


/* zadanie ósme */


div.quote q:lang(en)::before, 
div.quote q:lang(en)::after {
   content: "*";
}

div.quote blockquote:lang(en)::before, 
div.quote blockquote:lang(en)::after {
   content: "*";
}

/* zadanie dziewiąte */


