/* zadanie pierwsze */


.outer {
    height: 200px;
    width: 200px;
    background-color: orange;
    position: static;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: pink;
    position: relative;
    display: inline-block;
    margin: 50px;
}

/* zadanie drugie */


.coś {
    display: block;
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    border: solid 5px red;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
}

label.coś i {
    transform: scale(2)
}

input#font {
    display: none;
}

.coś:hover {
    background-color: green;
    cursor: pointer;
    border-color: firebrick;
}

/* zadanie trzecie*/


#gradient {
    display: block;
    height: 210px;
    width: 210px;
    background: linear-gradient(to bottom, purple, blue, lightblue, green, yellow, orange, red);
}

/* zadanie czwarte */


@media all and (max-width: 1600px) {
    .video {
        height: 100%;
        width: 100%;
    }
}

/* zadanie piąte */


ul.lista {
    list-style-type: none;
}

ul.lista li i {
    padding-right: 5px;
}

/* zadanie szóste */


form.form input::placeholder {
    color: crimson;
}

/* zadanie siódme */


ul.linki li a[href$=".doc"] {
    color: bisque;
}


/* zadanie ósme */


div.quote blockquote:not([lang="en"])::before, 
div.quote blockquote:not([lang="en"])::after {
   content: "\0022";
}

div.quote q:lang(en)::before, 
div.quote q:lang(en)::after {
   content: "*";
}

div.quote blockquote:lang(en)::before, 
div.quote blockquote:lang(en)::after {
   content: "*";
}


/* zadanie dziewiąte */


footer {
    background-color: aqua;
    position: fixed;
    bottom: 0;
}

/* zadanie dziesiąte */


div.obraz {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

div.obraz img {
    transition-duration: 2s;
}

div.obraz img:hover {
    transform: scale(2);
}

/* zadanie jedenaste */


div.heart p {
    font-size: 30px;
}

div.heart p i {
    color: red;
    animation: heart 2s linear infinite;
}

@keyframes heart {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

/* zadanie trzynaste */


div#parala {
    background-image: url(https://i.ytimg.com/vi/pVrDRLOeMKY/hqdefault.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* zadanie czternaste */


div.box {
    height: 300px;
    width: 300px;
    position: relative;
    display: inline-block;
    margin: 20px;
    background: pink;
}

div.box div.box-in {
    height: 100%;
    width: 100%;
    position: absolute;
   transition: all 0.5s;
}

div.box div.box-in box-front {
    background-color: darkcyan;
    z-index: 1;
    backface-visibility: hidden;
}

div.box div.box-in box-back {
    background: blue;
    transform:rotateY(180deg);
} 

div.box:hover .box-front {
    transform: rotateY(180deg);
}

div.box:hover .box-back {
    transform: rotateY(0deg);
}